@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */

.title-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Header Styles */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFAEC;
  padding: 1.25rem 8.75rem;
}

header div {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

header div img {
  width: 3.875rem;
  height: 3.875rem;
}

header h1 {
  color: black;
  font-size: 2rem;
  line-height: 1.875rem;
  letter-spacing: 0%;
  text-align: left;
}

header ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

header ul li a {
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 1.875rem;
  letter-spacing: 0%;
}

.home {
  color: orange;
}

.about {
  color: skyblue;
}

.facilities {
  color: rgb(5, 212, 223);
}

.admission {
  color: rgb(93, 88, 239);
}

header ul li a:hover {
  color: rgb(17, 17, 17);
}

header button {
  background: orange;
  color: white;
  font-size: 1.25rem;
  line-height: 1.875rem;
  letter-spacing: 0%;
  padding: 0.625rem 2.5rem;
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
}

header button:hover {
  background: darkorange;
}

.menubar {
  display: none;
}

/* Section 1: Marquee Styles */

#section-1 marquee {
  color: darkred;
  font-size: 1.25rem;
  line-height: 1.875rem;
  letter-spacing: 0%;
  text-align: center;
  padding: 0.625rem;
  background: #E8F9FF;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Section 2: Hero */

#section-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 8.75rem;
  gap: 3.125rem;
}

#section-2 .hero-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#section-2 h1 {
  font-size: 3.5rem;
  line-height: 3.813rem;
  letter-spacing: 0%;
}

#section-2 p {
  font-size: 1.25rem;
  line-height: 1.563rem;
  letter-spacing: 0%;
}

#section-2 .empowering {
  color: #fea301;
}

#section-2 .towards {
  color: #01acfd;
}

#section-2 button {
  padding: 1.25rem 2.5rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#section-2 button:hover {
  background-color: darkgray;
  color: black;
}
